
  section.section-main {
	min-width: 1065px;
	padding: 10px;
	float: left;
	overflow: hidden;
	height: 497px;
  }
   
  fieldset.agent-info {
	float: left;
	border: 1px solid lightgrey;
	min-width: 445px;
	min-height: 250px;
	padding: 3px;
	box-sizing: border-box;
	}
	  
  fieldset.contact-info {
		float: left;
		border: 1px solid lightgrey;
		min-width: 445px;
		min-height: 250px;
		padding: 3px;
		box-sizing: border-box;
  }
	
	section.ccpContainer {
		width: 265px;
		height: 467px;
		overflow: hidden;
		float: left;
		margin-left: 22px;
		padding: 25px;
	}	
	
  table label,
  table span {
	padding: 3px;
  }
  
  table label {
	font-weight: bold;
  }
  
  form {
	float: left;
  }